:root {
    --text-color: #000;
    --main-color: #05043f;
    --background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--main-color);
    padding: 35px;
    display: flex;
    justify-content: center;
}

header > h1 {
    color: #fff;
    font-size: 2.5em;
}

main {
    max-width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #dfdfdf;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .455);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > h2 {
    margin: 20px 0;
}

ul {
    line-height: 2em;
    padding: 5px;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 9px;
    color: white;
    transition: .3s;
}

a:active {
    color: white;
}
