@charset "UTF-8";

:root {
  --soft-white: #f5f5f5;
  --soft-black: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--soft-black);
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background-color: var(--soft-white);
}

header {
  margin: 15px;
}

#title {
  font-size: 2.2rem;
}

#container {
  margin-left: 15px;
}

#question {
  font-size: 1.2rem;
}

#list {
  margin-top: 15px;
  margin-left: 25px;
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  text-decoration: underline;
}