@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --soft-white: #f5f5f5;
  --soft-black: #333;
}

* {
  box-sizing: border-box;
  font: 400 1rem/1 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: var(--soft-white);
  background-color: var(--soft-black);
}

#container {
  margin: 5% 0 0 5%;
}

#question {
  font-size: 1.2rem;
}

#list {
  margin: 5% 0 0 5%;
  font-weight: 600;
}

li:first-child {
  margin-bottom: 1.5%;
}

a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}